name: slim/container-tests

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build-and-test-containers:
    name: "Build and test containers"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.1.4

      - name: Setup Node
        uses: actions/setup-node@v4.0.2
        with:
          node-version: 20.8.1

      - name: Build and run containers using docker compose
        run: docker compose up -d

      - name: Test web page
        run: |
          curl -sI http://localhost:8008/ | grep -o '200 OK'
          curl -s http://localhost:8008/ | grep -o '<title>Slim</title>'

      - name: Test DICOMweb service
        run: |
          sleep 20
          curl -sI http://localhost:8008/dcm4chee-arc/aets/DCM4CHEE/rs/studies | grep -o '204 No Content'

      - name: Print Wildfly internal server.log
        run: |
          docker compose exec -T dcm4chee-arc cat /opt/wildfly/standalone/log/server.log || echo "Log not found"