name: Deploy to GitHub Pages

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  deploy-gh-pages:
    name: Deploying to GitHub Pages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.4

      - name: Setup Node
        uses: actions/setup-node@v4.0.2
        with:
          node-version: 20.x

      - run: sudo npm install -g yarn

      - name: Install dependencies
        run: yarn --frozen-lockfile

      - name: Build and deploy with gh-pages
        run: |
          git remote set-url origin https://git:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git
          yarn deploy -- -u "github-actions-bot <support+actions@github.com>"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
