name: slim/deploy-to-firebase

on:
  pull_request:
    branches: [master]
  push:
    branches: [master]

jobs:
  deploy-firebase:
    name: "Deploy to Firebase"
    if: "${{ github.event.pull_request.head.repo.full_name == github.repository }}"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout to repository
        uses: actions/checkout@v4.2.2

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Build
        run: REACT_APP_CONFIG=preview PUBLIC_URL=/ bun run build

      - name: Deploy
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: "${{ secrets.GITHUB_TOKEN }}"
          firebaseServiceAccount: "${{ secrets.FIREBASE_SERVICE_ACCOUNT_SLIM }}"
          projectId: idc-external-006
          channelId: live
