name: Deploy to Firebase

on:
  pull_request:
    branches: [master]
  push:
    branches: [master]

jobs:
  deploy-firebase:
    if: "${{ github.event.pull_request.head.repo.full_name == github.repository }}"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.4

      - name: Setup Node
        uses: actions/setup-node@v4.0.2
        with:
          node-version: 20.8.1

      - run: sudo npm i -g yarn

      - name: Install dependencies
        run: yarn

      - name: Build
        run: REACT_APP_CONFIG=preview PUBLIC_URL=/ yarn build

      - name: Deploy
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: "${{ secrets.GITHUB_TOKEN }}"
          firebaseServiceAccount: "${{ secrets.FIREBASE_SERVICE_ACCOUNT_SLIM }}"
          projectId: idc-external-006
