name: Deploy to Firebase Hosting on PR
on:
  pull_request:
    branches: [ master ]
jobs:
  build_and_preview:
    if: '${{ github.event.pull_request.head.repo.full_name == github.repository }}'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: sudo npm i -g yarn
      - name: Install dependencies
        run: yarn install
      - name: Build
        run: REACT_APP_CONFIG=preview yarn build
      - name: Deploy
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_SLIM }}'
          projectId: idc-external-006
