name: slim/release

on:
  push:
    branches:
      - master

jobs:
  release:
    name: "Bump version and cut a release"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout to repository
        uses: actions/checkout@v4.2.2
        with:
          ref: master
          persist-credentials: false

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Build
        run: bun run build

      - name: Zip build
        run: zip -r build.zip build

      - name: Bump version and cut a release
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_GITHUB_TOKEN }}
          GIT_AUTHOR_NAME: ${{ vars.RELEASE_GIT_AUTHOR_NAME }}
          GIT_AUTHOR_EMAIL: ${{ vars.RELEASE_GIT_AUTHOR_EMAIL }}
          GIT_COMMITTER_NAME: ${{ vars.RELEASE_GIT_COMMITTER_NAME }}
          GIT_COMMITTER_EMAIL: ${{ vars.RELEASE_GIT_COMMITTER_EMAIL }}
        run: bunx semantic-release --branches master
